h5 {
    font-size: 32px;
}

.low { 
    background-color: green;
    color: white;
}

.moderate { 
    background-color: yellow;
}

.high { 
    background-color: orange;
}

.veryHigh { 
    background-color: orangered;
}

.extreme { 
    background-color: red;
    color:white;
}

#UV { 
    padding-left: 20px;
    padding-bottom:10px;
}
  